{% extends 'base.html' %}
{% load tags_jinja %}
{% block title %}Управление - Пользователи{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb my_border">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item"><a href="/adm/users"><i class="far fa-star mr-2 white-text"
                                                                    aria-hidden="true"></i>Пользователи
                </a></li>
                {% if arguments.user %}
                    <li class="breadcrumb-item active"><i class="far fa-star mr-2 white-text"
                                                          aria-hidden="true"></i>{{ arguments.user.last_name }} {{ arguments.user.first_name }} {{ arguments.user.userprofile.patronymic }}
                    </li>
                {% endif %}
            </ol>
        </nav>

        {% if user|has_group:"Администратор" and arguments.error or user|has_group:"Преподаватель" and arguments.error %}
            <div class="alert alert-danger my_border">
                {{ arguments.error }}
            </div>
        {% endif %}

        {% if arguments.user %}
            <div class="container">
                <div class="row">
                    {% if user|has_group:"Администратор" %}
                        <div class="col-8 my_border" style="background: white">
                            <div class="row">
                                <div class="col">
                                    <span>Табельный номер: <b>{{ arguments.user.id }}</b></span><br><br>
                                    <span>Фамилия: <b>{{ arguments.user.last_name }}</b></span><br>
                                    <span>Имя: <b>{{ arguments.user.first_name }}</b></span><br>
                                    <span>Отчество: <b>{{ arguments.user.userprofile.patronymic }}</b></span><br><br>
                                    <span> Роль:
                                    <b>
                                    {% for item in arguments.user.groups.all %}
                                        {{ item.name }}
                                    {% endfor %}
                                    </b>
                                </span><br><br>
                                    <span>Логин: <b>{{ arguments.user.username }}</b></span><br>
                                    <span>Email: <b>{{ arguments.user.email }}</b></span><br><br>
                                    {% if user.is_superuser or user.is_staff %}
                                        <span>Пароль: <b>{{ arguments.user.userprofile.password }}</b></span><br><br>
                                    {% endif %}
                                    <span>Админ панель: <b>{% if arguments.user.is_staff %}Имеет{% else %}Не
                                        имеет{% endif %}</b></span><br>
                                    <span>Суперпользователь: <b>{% if arguments.user.is_superuser %}Да{% else %}
                                        Нет{% endif %}</b></span><br><br>
                                    <span>Дата регистрации: <b>{{ arguments.user.date_joined }}</b></span><br>
                                    <span>Последняя авторизация: <b>{{ arguments.user.last_login }}</b></span><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-dark btn-block my_border" role="button"
                                    data-toggle="modal"
                                    data-target="#EditModal">
                                Редактировать данные
                            </button>
                            <button type="button" class="btn btn-danger btn-block my_border" role="button"
                                    data-toggle="modal"
                                    data-target="#DelModal">
                                Удалить пользователя
                            </button>
                        </div>
                    {% elif user|has_group:"Преподаватель" and arguments.user %}
                        <div class="col my_border" style="background: white">
                            <span>Табельный номер: <b>{{ arguments.user.id }}</b></span><br><br>
                            <span>Фамилия: <b>{{ arguments.user.last_name }}</b></span><br>
                            <span>Имя: <b>{{ arguments.user.first_name }}</b></span><br>
                            <span>Отчество: <b>{{ arguments.user.userprofile.patronymic }}</b></span><br><br>
                            <span> Роль:
                                    <b>
                                    {% for item in arguments.user.groups.all %}
                                        {{ item.name }}
                                    {% endfor %}
                                    </b>
                                </span><br><br>
                            <span>Логин: <b>{{ arguments.user.username }}</b></span><br>
                            <span>Email: <b>{{ arguments.user.email }}</b></span><br><br>
                            {% if user.is_superuser or user.is_staff %}
                                <span>Пароль: <b>{{ arguments.user.userprofile.password }}</b></span><br><br>
                                <span>Админ панель: <b>{% if arguments.user.is_staff %}Имеет{% else %}Не
                                    имеет{% endif %}</b></span><br>
                                <span>Суперпользователь: <b>{% if arguments.user.is_superuser %}Да{% else %}
                                    Нет{% endif %}</b></span><br><br>
                            {% endif %}
                            <span>Дата регистрации: <b>{{ arguments.user.date_joined }}</b></span><br>
                            <span>Последняя авторизация: <b>{{ arguments.user.last_login }}</b></span><br>
                        </div>
                    {% endif %}
                </div>
                <div id="statics" class="my_border bg_white" style="margin-left: -15px; margin-right: -15px">
                    <h4 style="text-align: center">Статистика пользователя по видам наук</h4>
                    <div class="row">
                    </div>
                </div>
                <div class="row my_border bg_white">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Предмет</th>
                            <th scope="col">Тема теста</th>
                            <th scope="col">Дата сдачи</th>
                            <th scope="col">Оценка</th>
                            <th scope="col">Статус завершения</th>
                            <th scope="col">Статус пересдачи</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for test in arguments.tests %}
                            <tr onclick="window.location.href = '/adm/archive/{{ test.test_id.id }}/{{ test.id }}'">
                                <th scope="row" data-toggle="tooltip" data-placement="bottom"
                                    title="Нажмите для просмотра">{{ test.test_id.predmet_id.predmet_name_sokr }}</th>
                                <td data-toggle="tooltip" data-placement="bottom"
                                    title="Нажмите для просмотра">{{ test.test_id.test_name }}</td>

                            {% if test.end_status %}
                                {% if test.override_status %}
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span>{{ test.end_time }}</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span>{{ test.ocenka }}%</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span>Сдан</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span style="color: red">Пересдача</span>
                                    </td>
                                {% else %}
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span style="color: forestgreen; font-weight: bold">{{ test.end_time }}</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span style="color: forestgreen; font-weight: bold">{{ test.ocenka }}%</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span style="color: forestgreen; font-weight: bold">Сдан</span>
                                    </td>
                                    <td data-toggle="tooltip" data-placement="bottom"
                                        title="Нажмите для просмотра">
                                        <span style="color: forestgreen; font-weight: bold">Засчитан</span>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td colspan="4" data-toggle="tooltip" data-placement="bottom"
                                    title="Нажмите для просмотра" style="text-align: center">Решение
                                </td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <script>
                generBlock_stats("{{ arguments.marksCanvas_data }}");
            </script>
        {% else %}
            <div class="alert alert-danger my_border">
                <p class="text">Пользователь не найден!</p>
            </div>
        {% endif %}
    </div>


    {% if arguments.user and user|has_group:"Администратор" %}
        <!-- Edit User Modal -->
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog"
             aria-labelledby="EditModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel">Редактирование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/adm/users/{{ arguments.user.id }}/editUser">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    Табельный номер: <span style="font-weight: bold">{{ arguments.user.id }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="last_name">Фамилия</label>
                                        <input type="text" class="form-control" id="last_name"
                                               name="last_name"
                                               placeholder="Фамилия" value="{{ arguments.user.last_name }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="first_name">Имя</label>
                                        <input type="text" class="form-control" id="first_name"
                                               name="first_name"
                                               placeholder="Имя" value="{{ arguments.user.first_name }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="patronymic">Отчество</label>
                                        <input type="text" class="form-control" id="patronymic"
                                               name="patronymic"
                                               placeholder="Отчество"
                                               value="{{ arguments.user.userprofile.patronymic }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="username">Логин</label>
                                        <input type="text" class="form-control" id="username"
                                               name="username"
                                               placeholder="Логин" value="{{ arguments.user.username }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="patronymic">Email</label>
                                        <input type="text" class="form-control" id="email"
                                               name="email"
                                               placeholder="Email" value="{{ arguments.user.email }}">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="user_group">Роль</label>
                                        <select class="form-control" id="user_group" name="user_group">
                                            <option {% if arguments.user|has_group:"Пользователь" %}
                                                selected {% endif %}
                                                value="Пользователь">
                                                Пользователь
                                            </option>
                                            <option {% if arguments.user|has_group:"Преподаватель" %}
                                                selected {% endif %}
                                                value="Преподаватель">
                                                Преподаватель
                                            </option>
                                            <option {% if arguments.user|has_group:"Администратор" %}
                                                selected {% endif %}
                                                value="Администратор">
                                                Администратор
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_superuser or user.is_staff %}
                                <div class="row">
                                    <div class="col-4">
                                    <span>Пароль:<br>
                                        <b>{{ arguments.user.userprofile.password }}</b></span>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="is_staff">Доступ к админ панели</label>
                                            <select class="form-control" id="is_staff" name="is_staff">
                                                <option {% if arguments.user.is_staff %}selected{% endif %}
                                                        value="True">
                                                    Есть
                                                </option>
                                                <option {% if not arguments.user.is_staff %}selected{% endif %}
                                                        value="False">
                                                    Нет
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="is_superuser">Суперпользователь</label>
                                            <select class="form-control" id="is_superuser" name="is_superuser">
                                                <option {% if arguments.user.is_superuser %}selected{% endif %}
                                                        value="True">
                                                    Да
                                                </option>
                                                <option {% if not arguments.user.is_superuser %}selected{% endif %}
                                                        value="False">
                                                    Нет
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button formmethod="post" type="submit" class="btn btn-primary">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Del User Modal -->
        <div class="modal fade" id="DelModal" tabindex="-1" role="dialog" aria-labelledby="DelModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DelModalLabel">Удаление пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="/adm/users/{{ arguments.user.id }}/delUser">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p><b>Внимание!</b><br>
                                Если вы удалите данного пользователя, то вместе с ним удаляться все его решения тестов,
                                а так же тесты, если он их создавал!
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}