{% extends 'base.html' %}
{% load tags_jinja %}
{% block title %}Предметы{% endblock %}

{% block content %}
    <div class="container">
        {% if arguments.predmets|cheak_count_list %}
            <table class="table my_border" style="background: white">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Сокращение</th>
                    <th scope="col">Предмет</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                {% for predmet in arguments.predmets %}
                    <tr>
                        <th scope="row">{{ predmet.predmet_name_sokr }}</th>
                        <td>{{ predmet.predmet_name }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary"
                                    onclick="window.location= '/tests/{{ predmet.predmet_name_sokr_translite }}';">
                                Открыть
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger my_border">
                Нет доступных предметов!
            </div>
        {% endif %}
    </div>
{% endblock %}